@import '../../styles/mixins';

.speaker {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 42px;
    margin: 0;
    background: none;
    border: none;
    border-radius: 10px;
    transition: var(--transition);
    cursor: pointer;
    padding: 5px 10px;

    &:hover {
        background-color: var(--hover);
    }

    &:active,
    &.active {
        background-color: var(--active);
    }

    &__sample {
        margin-right: 10px;
    }

    &__name {
        display: block;
        font-weight: 600;
        color: var(--secondaryColor);
        @include transition;
        margin-bottom: 0.15rem;
        text-align: left;
    }

    &__description {
        font-size: 13px;
        color: var(--textColor);
    }

    &__recommend {
        display: inline-block;
        @include size(12px);
        margin-bottom: -1px;
        background-repeat: no-repeat;
        background-image: url('data:image/svg+xml,%3Csvg width="12" height="12" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.481 19.481" %3E%3Cpath fill="%23A6A7BE" d="M10.201.758l2.478 5.865 6.344.545a.5.5 0 01.285.876l-4.812 4.169 1.442 6.202a.5.5 0 01-.745.541l-5.452-3.288-5.452 3.288a.5.5 0 01-.745-.541l1.442-6.202-4.813-4.17a.5.5 0 01.285-.876l6.344-.545L9.28.758a.5.5 0 01.921 0z" /%3E%3C/svg%3E');
    }
}
