{
    "tabWidth": 4,
    "semi": true,
    "singleQuote": true,
    "printWidth": 100,
    "plugins": ["prettier-plugin-svelte"],
    "svelteSortOrder": "styles-scripts-markup-options",
    "bracketSameLine": false,
    "htmlWhitespaceSensitivity": "ignore",
    "svelteIndentScriptAndStyle": false
}
