:root {
    --primaryColor: #ff6b06;
    --primaryHover: #ff7519;
    --primaryActive: #fa6400;
    --secondaryColor: #161838;
    --hover: #f8f8fc;
    --active: #f4f4fc;
    --transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
    --textColor: #5c5c5c;
}
